.advantages {
    background-color: #FFF5F6;

}

.advantages__list {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}

.advantages__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 170px;
    }

    @media screen and (min-width: 1200px) {
        width: 288px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 22px;
        }
    }
}

.advantages__sub {
    font-family: $font-family2;
    font-weight: 400;
    text-transform: uppercase;

    color: $color-title;

    @media screen and (max-width: 767px) {
        margin-bottom: 4px;

        font-size: 36px;
        line-height: 41px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 13px;

        font-size: 48px;
        line-height: 55px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;

        font-size: 58px;
        line-height: 66px;
    }

    &::before {
        margin-bottom: 16px;
        display: block;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
    }

    &--icon1::before {

        @media screen and (max-width: 767px) {

            background-image: url(../images/adv1mob.png);
        }

        @media screen and (min-width: 768px) {
            background-image: url(../images/adv1.png);
        }

    }

    &--icon2::before {
        background-image: url(../images/adv2.png);
    }

    &--icon3::before {
        background-image: url(../images/adv3.png);
    }
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: #000000;

    @media screen and (max-width: 767px) {
        width: 200px;
        font-size: 12px;
        line-height: 1.7;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
    }
}